@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/master.cshtml";
}


@*services*@
<div class="container" id="home">
@Html.Partial("Home")
</div>

<div class="container" id="about">
@Html.Partial("About")
</div>
<div class="container" id ="services">
@Html.Partial("Services")
</div>
<div class="container" id ="projects">
@Html.Partial("Projects")
</div>
<div  class="container" id="imprint">
@Html.Partial("ImprintPrivacy")
</div>
<div class="container" id="contact">
@Html.Partial("Contact")
</div>
