@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/master.cshtml";
}


@*services*@
<div id="home">
@Html.Partial("Home")
</div>

<div id="about">
@Html.Partial("About")
</div>
<div id ="services">
@Html.Partial("Services")
</div>
<div id ="projects">
@Html.Partial("Projects")
</div>
<div id="contact">
@Html.Partial("Contact")
</div>
