@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/master.cshtml";
}


@*services*@
<div class="container homepage" id="home_" name="home_"><div class="topspacer">
@Html.Partial("Home")
</div>
</div>
<div class="container" id="about_" name="about_"><div class="topspacer">
@Html.Partial("About")
</div>
</div>
<div class="container" id ="services_" name="services_"><div class="topspacer">
@Html.Partial("Services")
</div>
</div>
<div class="container" id ="projects_" name="projects_"><div class="topspacer">
@Html.Partial("Projects")
</div>
</div>
<div  class="container" id="imprint_" name="imprint_"><div class="topspacer">
@Html.Partial("ImprintPrivacy")
</div>
</div>
<div class="container" id="contact_" name="contact_" style="min-height:35em"><div class="topspacer">
@Html.Partial("Contact")
</div>
</div>
